- var baseDialog = baseConfig.baseDialog;
- var reflection = viewContent.reflection;
if reflection && reflection.content
  #myDiary(class='#{baseDialog.selfClass}')
    div(class='#{baseDialog.titleBarClass}') 
      .uiTitle 我的随心笔
    div(class='#{baseDialog.contentClass}')
      each item in reflection.content
        case item.tag
          when 'p'
            p #{item.data}