include header
- fileImporter.importCss(['/common/flexigrid/css/flexigrid.pack.css']);
- fileImporter.importJs(['/common/flexigrid/js/flexigrid.pack.js', '/ys/javascripts/commodity_table_view.min.js']);
#contentContainer