#header .navContainer{height:30px;line-height:30px;width:770px;margin:auto;}#header .navContainer .nav{color:#808080;border-right:1px solid #e0e0e0;display:inline-block;padding:0 30px;}#header .navContainer .nav.lastNav{border-right:none;}
#header .navContainer .nav:hover,#header .navContainer .nav.selected{color:#f0f0f0;}
#header .navContainer .nav{*display:inline;}
