#contentContainer{width:1000px;margin:50px auto 20px auto;}
#rightContainer{width:300px;float:right;}
#leftContainer{width:680px;}
#myDiary p{text-indent:2em;}
#articlesContainer{margin-top:20px;}#articlesContainer p{text-indent:2em;}
#articlesContainer .articleContainer{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid black;}#articlesContainer .articleContainer.lastArticleContainer{margin-bottom:0;border-bottom:none;}
#articlesContainer .articleContainer p.omission{text-indent:0;}
#articlesContainer .articleContainer .articleButtonSet{float:right;margin-top:15px;}#articlesContainer .articleContainer .articleButtonSet a:hover{color:white;}
#articlesContainer .codeContainer textarea{width:100%;height:100%;}
#articlesContainer .CodeMirror-scroll{height:100%;}
#recommendArticlesContainer li,#nodeModulesContainer li{list-style:circle inside;margin-bottom:10px;}
#nodeModulesContainer{margin-top:20px;}#nodeModulesContainer .uiContent{margin:5px 8px;}#nodeModulesContainer .uiContent li span{color:#888;padding:0 5px;}
