@contentWidth : 1000px;

#contentContainer{
  width: @contentWidth;
  margin:20px auto;
  margin-top: 50px;
  overflow: hidden;
}
#articleContainer{
  p{
    text-indent: 2em;
  }
  .codeContainer{
    textarea{
      width: 100%;
      height: 100%;
    }
  }
  .CodeMirror-scroll{
    height: 100%;
  }
}