#header{
  .navContainer{
    height: 30px;
    line-height: 30px;
    .nav{
      color:#f0f0f0;
      display: inline-block;
      margin:0 10px;
    }
    .nav{
      *display:inline;
    }
  }
}
.favicon{
  height:32px;
  background: url(../images/task_btn.gif);
}