@import "../../common/stylesheets/common";
@import "common";
#contentContainer{
  width: @contentWidth;
  margin:@spacingValue + @headerHeight auto @spacingValue auto;
  color:@themeBorderColor;
}
#rightContainer{
    width: @rightContainer;
    float: right;
}
#leftContainer{
    width:@leftContainer;
}
#myDiary{
  p{
    text-indent: 2em;
  }
}
#articlesContainer{
  margin-top:@spacingValue;
  p{
    text-indent: 2em;
  }
  .articleContainer{
    margin-bottom: @spacingValue;
    padding-bottom: @spacingValue;
    border-bottom: 1px solid black;
    &.lastArticleContainer{
      margin-bottom: 0;
      border-bottom: none;
    }
    p.omission{
      text-indent: 0;
    }
    .articleButtonSet{
      float: right;
      margin-top: 15px;
      a:hover{
        color:white;
      }
    }
  }
  .codeContainer{
    textarea{
      width: 100%;
      height: 100%;
    }
  }
  .CodeMirror-scroll{
    height: 100%;
  }
}
#recommendArticlesContainer, #nodeModulesContainer{
  li{
    list-style: circle inside;
    margin-bottom: 10px;
  }
}
#nodeModulesContainer{
  margin-top: @spacingValue;
  .uiContent{
    margin:5px 8px;
    li{
      span{
        color: #888;
        padding: 0 5px;
      }
    }
  }
}