- fileImporter.importCss('/vicanso/stylesheets/footer.css');
footer#footer
  p 我喜欢编程，如果把编程当成工作，我愿意！但如果工作需要为了生活，那么我宁愿选择其它的类型的工作，兴趣不应该成为维持生活的手段，那样会变质！
  p Copyright &copy; 2012-#{new Date().getFullYear()} 腻味