extends ./layout
block bodyContainer
  include ./header
  - fileImporter.importCss('/vicanso/stylesheets/index.css');
  #contentContainer
    #rightContainer
    #leftContainer
      include mydiary
      include articles
      