- var baseDialog = baseConfig.baseDialog;
#myDiary(class='#{baseDialog.selfClass}')
  div(class='#{baseDialog.titleBarClass}') 
    .uiTitle 我的随心笔
  div(class='#{baseDialog.contentClass}')
    p 学习WEB前端只能说是一个巧合，当时也还是在弄嵌入式，写写c/c++，刚好公司需要一个人写点网页的设置界面，自己就自荐了，也从那时候开始知道了jQuery，也从那时候开始了WEB前端之路，到现在也差不多有3年了。一直认为自己是喜欢写前端代码的，但在公司却时常的去调整这宽度，那图标，开始有点腻了，开始有点厌烦了。不过我还是相信，我是喜欢javascript的，喜欢写写UI插件的。
    p 开始接触node.js，原来我自己也是有着自己偏好的语言的，javascript的简陋，node.js的难以理解的异步，这一切一切，我都喜欢，因此也开始了我的node.js之路。
    p 程序员是应该有自己的语言信仰的，要有一门让自己喜欢的语言，只有这样，自己才会有兴趣，才能写出更好的代码。程序员也应该要求自己对其它语言有着一种包含，没有最好的语言，只有自己最喜欢的语言，每种语言都有自己的短处与长处，不应该也没必要去追求真正完美的语言。